name: Deploy
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: actions/setup-java@v3.9.0
        with:
          distribution: adopt
          java-version: 11
          cache: gradle
      - uses: aws-actions/setup-sam@v1
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Deploy
        run: |
          sam build
          sam deploy --region ${{ vars.AWS_REGION }} --stack-name ${{ vars.STACK_NAME }} --s3-bucket ${{ vars.S3_BUCKET }} --s3-prefix ${{ vars.STACK_NAME }} --capabilities CAPABILITY_IAM